@using Microsoft.AspNetCore.Routing
@model IEnumerable<Kafen.Models.PedidosViewModel>
@{
    Layout = "~/Views/Shared/_Layout_Cliente.cshtml";
}





     <div id="content">
            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <h1>PEDIDOS EN CURSO</h1>



            
              @if (ViewData["cancelado"] != null){
                            
                         <div id="Agregado" class="alert alert-success" role="alert" >
                                          <top> <right>@ViewData["cancelado"]</right></top> 
                       </div>  
              }


               @if (ViewData["nosepuede"] != null){
                            
                         <div id="NoAgregado" class="alert alert-danger" role="alert" >
                                          <top> <right>@ViewData["nosepuede"]</right></top> 
                       </div>  
                 }










            <table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
        
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
         
            <td>

               
               <a href="@Url.Action("DetalleDeVenta", "Cliente",  new RouteValueDictionary(new {  id=item.id   }))" class="article">Detalles</a>
                

            </td>
              <td>

               
               <a href="@Url.Action("CancelarPedido", "Cliente",  new RouteValueDictionary(new {  id=item.id   }))" class="article">Cancelar</a>
                

            </td>
        </tr>
}
    </tbody>
</table>

            </div>

              <script>
    setTimeout(function() { $('#Agregado').fadeOut('fast'); }, 5000); // <-- time in milliseconds
    setTimeout(function() { $('#NoAgregado').fadeOut('fast'); }, 5000);

    </script>